<%- include("template/header") %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="chat-container bg-light border rounded mt-3" style="height: 500px; overflow-y: auto;">
        <ul id="messages" class="list-unstyled p-3"></ul>
      </div>
      <form id="form" class="form-inline mt-3">
        <input id="input" type="text" class="form-control mr-2 flex-grow-1" autocomplete="off" placeholder="Type a message...">
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</div>

<%- include("template/footer", { loadChatScript: true }) %>


