<%- include("template/header") %>

<main>
<div class="container justify-content-center">
  <h1>Jigsaw Game</h1>

  <!-- Placeholder for the game icon -->
  <img src="/images/jigsaw.jpg" alt="Jigsaw Game Icon" id="jigsaw-icon">

  <!-- Buttons for user actions -->
  <button id="play-game">Play</button>
  <button id="invite-friends">Invite</button>

  <!-- SVG cog icon for game settings -->
  <button id="game-settings">
    <i class="bi bi-gear-fill"></i>
  </button>
</div>
</main>

<!-- Link to JS file -->
<script src="/public/js/checkersHubScript.js"></script> 

<%- include("template/footer") %>