<%- include("template/header") %>

<main>

  <h1 style="text-align: center;">Bingo Game</h1>

  <div class="Hub-box">
    <!-- Placeholder for the game icon -->
    <img src="/images/bingo.jpg" alt="Game Icon" id="game-icon">
    <br>
    <!-- Buttons for user actions -->
    <button id="play-game">Play</button>
    <button id="invite-friends">Invite</button>

    <!-- Icon for game settings -->
    <button id="game-settings">
      <i class="bi bi-gear-fill"></i>
    </button>
  </div>
  <br>
</main>


<!-- Link to JS file -->
<!-- <script src="/public/js/BingoHubScript.js"></script>  -->

<%- include("template/footer") %>