<%- include("template/header") %>

<div class="container" id="button-container">
    <img id="sudoku-img" src="/images/sudoku.png" alt="sudoku">
    <br>
    <br>
    <button class="submit-button" type="submit"><h1 class="login-text"><i class="bi bi-play-fill"></i> Play</h1></button>
    <br>
    <br>
    <button class="submit-button" type="submit"><h1 class="login-text"><i class="bi bi-people-fill"></i> Group Play</h1></button>
    <br>
</div>

<!-- Link to game logic JS -->
<script src="/js/sudokuGameScript.js"></script>

<%- include("template/footer") %>