<%- include("template/header") %>

<div class="container">
    <h1>Sudoku</h1>
    <hr>
    <h2 id="errors">0</h2>

    <!-- board -->
    <div id="board"></div>
    <br>
    <div id="digits"></div>
    <br>
    <br>
    <br>
</div>

<!-- Link to game logic JS -->
<script src="/js/sudokuGameScript.js"></script>

<%- include("template/footer") %>