<%- include("template/header") %>
<div class="content height">
    <div class="container" id="searchbarcontainer">
    
        <div class="row d-flex justify-content-center align-items-center">
    
          <div class="col-md-6">
    
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search Games...">
                <span class="left-pan"><i class="fa fa-microphone"></i></span>
            </div>
    
    
          </div>
          <button class="btn btn-primary">Filter</button>
    
        </div>
    
    </div>
    
    <div class="gamescontainer">
        <div id="game1">
            <div id="gameimg1">Game 1</div>
            <p>Title</p>
        </div>
        <div id="game2">
            <div id="gameimg2">Game 2</div>
            <p>Title</p>
        </div>
        <div id="game3">
            <div id="gameimg3">Game 3</div>
            <p>Title</p>
        </div>
        <div id="game4">
            <div id="gameimg4">Game 4</div>
            <p>Title</p>
        </div>
    </div>
</div>
<%- include("template/footer") %>