<%- include("template/header") %>

<main>

  <br>
  <div style="max-width: fit-content; box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); border: 2px solid black; border-radius: 4px;" class="container">
    <h1 style="text-align: center;">Jigsaw Game</h1>
  </div>
  <br>

  <div class="Hub-box">

    <!-- Placeholder for the game icon -->
    <img style="box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); border: 2px solid black; border-radius: 4px;" src="/images/jigsaw.jpeg" alt="Jigsaw Game Icon" class="hub-image" id="jigsaw-icon">
    <br>

    <!-- Buttons for user actions -->
    <button id="play-game" class="submit-button" type="submit">
      <h1 class="login-text"><i class="bi bi-play-fill"></i> Play</h1>
    </button>
    <!-- <button id="invite-friends">Invite</button> -->

    <!-- Icon for game settings -->
    <!-- <button id="game-settings">
      <i class="bi bi-gear-fill"></i>
    </button> -->
  </div>
  <br>
</main>
<br>

<!-- Link to JS file -->
<script src="/js/jigsawHubScript.js"></script>

<%- include("template/footer") %>