<%- include("template/header") %>

<main>

  <h1>Bingo Game</h1>

  <!-- Placeholder for the game icon -->
  <img src="/images/bingo.jpg" alt="Game Icon" id="game-icon">

  <!-- Buttons for user actions -->
  <button id="play-game">Play</button>
  <button id="invite-friends">Invite</button>

  <!-- SVG cog icon for game settings -->
  <button id="game-settings">
    <img src="/images/bingo.jpg" alt="Bingo Game Icon" id="bingo-icon">
  </button>

</main>

<!-- Link to JS file -->
<!-- <script src="/public/js/checkersHubScript.js"></script>  -->

<%- include("template/footer") %>