<%- include("template/header") %>

<div class="game-play-box">

  <h1>Play Checkers</h1>

  <div class="checkerscontainer">
    <!-- Next player indicator -->
    <div class="next-player counter">
      <div class="occupied redPiece" id="next-player"></div>
      Player
    </div>

    <!-- Game board -->
    <div class="game" id="game"></div>

    <!-- Piece counters -->
    <div class="counter">
      <div>
        <div class="occupied redPiece"></div>
        <span id="white-player-count-pieces">12</span> <!-- Adjusted piece count -->
      </div>
      <div>
        <div class="occupied blackPiece"></div>
        <span id="black-player-count-pieces">12</span> <!-- Adjusted piece count -->
      </div>
    </div>
  </div>

  <!-- Modal for game end -->
  <div id="easyModal" class="modal">
    <div class="modal-content">
      <div class="modal-body">
        <p>The <strong id="winner"></strong> player won the game !!</p>
        <p> <span id="loser"></span>, would you take your revenge ???</p>

        <div class="btn-container">
          <button class="btn" onclick="location.reload()">Yes</button>
          <button class="btn" onclick="modalClose()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Link to CSS file -->
<link rel="stylesheet" href="/css/checkersStyle.css">

<!-- Link to game logic JS -->
<script src="/js/checkersGameScript.js"></script>

<%- include("template/footer") %>