<%- include("template/header") %>

<div class="container" id="button-container">
    
</div>

<!-- Link to game logic JS -->
<script src="/js/sudokuGameScript.js"></script>

<%- include("template/footer") %>