<%- include("template/header") %>

<main>

  <h1 style="text-align: center;">Checkers Game</h1>

  <div class="Hub-box">
    <!-- Placeholder for the game icon -->
    <img src="/images/checkers.jpeg" alt="Game Icon" class="hub-image" id="checkers-icon">
    <br>
    <!-- Buttons for user actions -->
    <button id="play-game">Play</button>
    <button id="invite-friends">Invite</button>

    <!-- Icon for game settings -->
    <button id="game-settings">
      <i class="bi bi-gear-fill"></i>
    </button>
    <br>
  </div>

</main>

<!-- Link to JS file -->
<script src="/js/checkersHubScript.js"></script>

<%- include("template/footer") %>