<%- include("template/header") %>

<div class="container">
    <h1>Sudoku</h1>
    <hr>

    <!-- board -->
    <div id="board"></div>
    <br>
    <div id="digits"></div>
    <br>
    <br>
    <br>
    <div>
        <button id="undo-button" class="submit-button"><img src="/images/undo.png" width="50px">Undo</button>
        <button id="redo-button" class="submit-button"><img src="/images/redo.png" width="50px">Redo</button>
    </div>
    <br>
    <br>
    <br>    
</div>

<!-- Link to game logic JS -->
<script src="/js/stack.js" type="module"></script>
<script src="/js/sudokuGameScript.js" type="module"></script>

<%- include("template/footer") %>