<%- include("template/header") %>
    <div id="container">
        <form class="login-form">
            <div class="input-group">
                <label for="username"><h1 class="login-text">Username</h1></label>
                <input type="text" id="username" name="username" placeholder="Enter your username">
            </div>
            <div class="input-group">
                <label for="password"><h1 class="login-text">Password</h1></label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember"><h1 class="login-text">Remember me</h1></label>
            </div>
            <button class="submit-button" type="submit"><h1>Login</h1></button>
            <div class="qr-code">
                <h1 class="login-text">Or Scan QR Code</h1>
            </div>
        </form>
    </div>

    <%- include("template/footer") %>