html {
    background-color: #87CEEB;
}

#bottom-Navbar {
    background-color: peachpuff;
}

#header {
    background-color: #87CEEB;
}

/* games page css */
/* #region gamesRegion*/
body{
    background: #87CEEB;
    background: radial-gradient(at center, #87CEEB, #FFFFFF);
}

.height{

    height: 100vh;
}
.content {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}
 #searchbarcontainer {
    grid-row: 1;
    grid-column: 2 / span 8;
    margin: 0;
    padding: 0;
 }

.gamescontainer {
    grid-row: 2 / span 10;
    grid-column: 1 / span 10;

    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    grid-template-columns: repeat(4, 25%);
    padding: 20px;
}
.gamescontainer > * {
    margin: 10px;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
}

.gamescontainer, [id^="gameimg"],
.social-container,[id^="person"] {
    background-color:grey;
    border-radius: 15px;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
}
.gamescontainer > * > p{
    justify-self: center;
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    font-size: 24px;
    margin: 5px;
    width: 80%;
    background-color: white;
    border-radius: 15px;
}
.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

@media only screen and (max-width: 700px) {
    .height {
        height: 300vh;
    }
    .gamescontainer {
        grid-template-rows: repeat(8, 20%);
        grid-template-columns: 100%;

    }
    .gamescontainer > * {
        grid-row: auto;
        grid-column: 1;
        margin-left: 50px;
        margin-right: 50px;
    }
    .content {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(20, 5%);
    }
}
/* #endregion */

/*#region gamesSpecific region */



#gamesSpecificContent {
    height: 850px;
}

.gameContainer {
    margin: auto;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}
#gamesSpecificContent > h1 {
    text-align: center;
    justify-self: center;
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.468);
    border-radius: 40px;
    font-weight: 700;
}

.gameView {
    grid-row: 1 /span 8;
    grid-column: 1 /span 10;
    background-color: grey;
    border-radius: 15px 15px 0 0;
}

.gameDesc {
    grid-row: 8 /span 9;
    grid-column: 1 /span 10;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 15px;
    text-align: left;
}
.helpButton {
    grid-row: 8;
    grid-column: 10;
    background-color: yellow;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;

}

/* #endregion */

/* #region socialRegion*/
body{margin-top:20px;
    background:#eee;
    }
    .single_advisor_profile {
        position: relative;
        margin-bottom: 50px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
        border-radius: 15px;
        -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
        box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    }
    .single_advisor_profile .advisor_thumb {
        position: relative;
        z-index: 1;
        border-radius: 15px 15px 0 0;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: #3f43fd;
        overflow: hidden;
    }
    .single_advisor_profile .advisor_thumb::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: 150%;
        height: 80px;
        bottom: -45px;
        left: -25%;
        content: "";
        background-color: #ffffff;
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    @media only screen and (max-width: 575px) {
        .single_advisor_profile .advisor_thumb::after {
            height: 160px;
            bottom: -90px;
        }
    }
    .single_advisor_profile .advisor_thumb .social-info {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        right: 30px;
        text-align: right;
    }
    .single_advisor_profile .advisor_thumb .social-info a {
        font-size: 14px;
        color: #020710;
        padding: 0 5px;
    }
    .single_advisor_profile .advisor_thumb .social-info a:hover,
    .single_advisor_profile .advisor_thumb .social-info a:focus {
        color: #87CEEB;
    }
    .single_advisor_profile .advisor_thumb .social-info a:last-child {
        padding-right: 0;
    }
    .single_advisor_profile .single_advisor_details_info {
        position: relative;
        z-index: 1;
        padding: 30px;
        text-align: right;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        border-radius: 0 0 15px 15px;
        background-color: #ffffff;
    }
    .single_advisor_profile .single_advisor_details_info::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 3px;
        background-color: #87CEEB;
        content: "";
        top: 12px;
        right: 30px;
    }
    .single_advisor_profile .single_advisor_details_info h6 {
        margin-bottom: 0.25rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info h6 {
            font-size: 14px;
        }
    }
    .single_advisor_profile .single_advisor_details_info p {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-bottom: 0;
        font-size: 14px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info p {
            font-size: 12px;
        }
    }
    .single_advisor_profile:hover .advisor_thumb::after,
    .single_advisor_profile:focus .advisor_thumb::after {
        background-color: #87CEEB;
    }
    .single_advisor_profile:hover .advisor_thumb .social-info a,
    .single_advisor_profile:focus .advisor_thumb .social-info a {
        color: #ffffff;
    }
    .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
    .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
    .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
    .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info,
    .single_advisor_profile:focus .single_advisor_details_info {
        background-color: #87CEEB;
    }
    .single_advisor_profile:hover .single_advisor_details_info::after,
    .single_advisor_profile:focus .single_advisor_details_info::after {
        background-color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info h6,
    .single_advisor_profile:focus .single_advisor_details_info h6 {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info p,
    .single_advisor_profile:focus .single_advisor_details_info p {
        color: #ffffff;
    }
/* #endregion */

