<div id="chess">
    <div id="wrap">
      
        <!-- Player White Panel -->
        
      
        <!-- Chess Board -->
        <div id="chess-board">
          <!-- Inject Squares Here -->
        </div>
      
        <!-- Player Black Panel -->
      
    </div>
  </div>