<div class="container" id="bottom-Navbar">
  <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
    <li>
      <a href="/main" class="nav-link text-secondary">
        <i class="bi bi-house-door"></i> Home
      </a>
    </li>

    <li>
      <a href="/games" class="nav-link text-secondary">
        <i class="bi bi-controller"></i> Games
      </a>
    </li>

    <li>
      <a href="/social" class="nav-link text-secondary">
        <i class="bi bi-people"></i> Social
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-secondary">
        <i class="bi bi-heart"></i> Family
      </a>
    </li>
  </ul>
</div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"></a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Golden Gaming</p>
  </footer>
</div>

<!--only loads the socket chat messaging if the res.render is passed a loadChatScript boolean of true.
will need to be modified to have chat across all pages with different conditional logic for direct messaging
vs chat room-->
<% if (typeof loadChatScript !== 'undefined' && loadChatScript) { %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const socket = io();
      const form = document.getElementById('form');
      const input = document.getElementById('input');
      const messages = document.getElementById('messages');

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });

      socket.on('chat message', (msg) => {
        const item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    });
  </script>
<% } %>
</body>

</html>