<div class="container" id="bottom-Navbar">
  <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
    <li>
      <a href="/" class="nav-link text-secondary">
        <i class="bi bi-house-door"></i> Home
      </a>
    </li>

    <li>
      <a href="/games" class="nav-link text-secondary">
        <i class="bi bi-controller"></i> Games
      </a>
    </li>

    <li>
      <a href="/social" class="nav-link text-secondary">
        <i class="bi bi-people"></i> Social
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-secondary">
        <i class="bi bi-heart"></i> Family
      </a>
    </li>
  </ul>
</div>


<!--only loads the socket chat messaging if the res.render is passed a loadChatScript boolean of true.
will need to be modified to have chat across all pages with different conditional logic for direct messaging
vs chat room-->
<% if (typeof loadChatScript !== 'undefined' && loadChatScript) { %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const chatRoomId = "<%= chatRoomId %>";
  </script>
  <script src="/js/chat.js"></script>
<% } %>
</body>
<br>
<br>
</html>
