<div class="container" id="bottom-Navbar">
  <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
    <li>
      <a href="/main" class="nav-link text-secondary">
        <i class="bi bi-house-door"></i> Home
      </a>
    </li>

    <li>
      <a href="/games" class="nav-link text-secondary">
        <i class="bi bi-controller"></i> Games
      </a>
    </li>

    <li>
      <a href="/social" class="nav-link text-secondary">
        <i class="bi bi-people"></i> Social
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-secondary">
        <i class="bi bi-heart"></i> Family
      </a>
    </li>
  </ul>
</div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"></a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Golden Gaming</p>
  </footer>
</div>

</body>

</html>